{% extends "index.html" %}
{% load staticfiles %}

{% block title %} College Application Guides {% endblock %}

  {% block meta_description %}
  <meta name="description" content="EducationHaiti provides a number of guides
    for students wishing to apply to Universities in the United States, Canada,
    and other countries." />
  {% endblock %}


{% block body %}

<div class="panel panel-default">
       <div class="panel-heading">
           <h3 class="panel-title">Guides</h3>
      </div>
       <div class="panel-body"><span>Studying in the United States</span>
           <ul class="list-group">
               <li class="list-group-item"><a href="{% static 'guides/EtudierAuxUSA.pdf' %}"><span>Your guide to studying in the US.</span></a></li>
           </ul>
       </div>
       <div class="panel-body"><span>Studying in Canada </span>
           <ul class="list-group">
               <li class="list-group-item"><a href="{% static 'guides/EtudierAuCanada.pdf' %}"><span>Your guide to studying in Canada.</span></a></li>
           </ul>
       </div>
</div>

{% endblock %}
