{% extends "layout_en.html" %}
{% load staticfiles %}
{% block content %}


 <div class="container">
   <div class="col-sm-8 blog-main">

<div class="blog-post">
      <div class="blog-header">
        <h1 class="blog-post-title">{{ title }}</h1>
        <p class="lead blog-post-description">Blog featuring our diverse success stories!</p>
      </div></div>

      <div class="row">



              {% for story in stories reversed %}
                            <div class="blog-post">
            <h2 class="blog-post-title">{{story.title}}</h2>
              <h4>{{story.description}}</h4>
            <p class="blog-post-meta">{{story.created}} by <a href="#">{{story.author}}</a></p>
                  {% if story.article_picture %}
                      <div class="col-md-5">
            <p><img class="featurette-image img-responsive center-block" src="{{ story.article_picture.url }}" /></p>
                      </div><br />
                      {% else %}
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="No image yet.">
     </div>
                  {% endif %}
            <p></p>
            <p> {{story.content|truncatewords:80}} </p>
              <a href="{{story.get_absolute_url}}">Read More &raquo;</a>
          </div><!-- /.blog-post -->
              {% endfor %}
</div>

            <br />

        </div><!-- /.blog-main -->
        <br />

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}
