{% extends 'layout_en.html' %}

{% block content %}
<br /><br /><br />
<div class="container">
<article>
<h1>{{story.title}}</h1>
<p>
    Posted on
    <time datetime="{{story.created|date:'c'}}">
    {{story.created|date}}
    </time> by <a href="#">{{story.author}}</a>
</p>
    {% if story.article_picture %}
                      <div class="col-md-5">
            <p><img class="featurette-image img-responsive center-block" src="{{ story.article_picture.url }}" /></p>
                      </div><br />
                      {% else %}
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="No image yet.">
     </div>
                  {% endif %}
<h4><b>
  {{story.description}}
</b></h4>
    {{story.content|safe}}
</article>
    <hr /><a class="btn btn-primary" href="{% url 'success_blog' %}"> << Get Back </a></h1>
</div>
{% endblock %}