{% extends "layout_en.html" %}
{% load staticfiles %}
{% block content %}

<br /><br /><br />

 <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ title }}</h1>
        <p class="lead blog-description">Blog featuring our diverse success stories!</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              {% for story in stories %}
            <h2 class="blog-post-title">{{story.title}}</h2>
              <h4>{{story.description}}</h4>
            <p class="blog-post-meta">{{story.created}} by <a href="#">{{story.author}}</a></p>
            <p> {{story.content|truncatewords:80}} </p>
              <a href="{{story.get_absolute_url}}">Read More &raquo;</a>
              {% endfor %}
          </div><!-- /.blog-post -->

            <br />

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>We connect ambitious high school students with mentors
 to help them get into their dream universities.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">April 2016</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="https://www.facebook.com/educationhaiti/">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}