{% extends "../../blog/templates/index.html" %} {% load static from staticfiles %} {% block body %}
<div class=highlight-blue>
<div class=container>
<div class=intro>
<h2 class=text-center>Success Stories</h2>
<p class=text-center>Our programs strives to bring haitian students closer to the colleges of their dreams. Here are some of the great successes we have achieved over the last few years.</p>
</div>

</div>
</div>
{% for story in stories %}
<div class=jumbotron style=background-color:#28415b;padding:5px>
<div class=media>
{% if story.article_picture %}
<a><img class=media-object src="{{ story.article_picture.url }}"></a>
{% else %}
<div class=media-left>
<a><img class=media-object alt="Image not available."data-src=holder.js/500x500/auto></a>
</div>
{% endif %}
<div class=media-body>
<h4 class=media-heading style=font-weight:700>{{ story.title }}</h4>
<p>{{ story.content }}</p>
</div>
</div>
</div>
{% endfor %} {% endblock %}
