dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9
django-crispy-forms==1.4.0
django-extensions==1.5.5
django-haystack==2.4.0
django-organizations==0.5.3
django-registration-redux==1.2
django-toolbelt==0.0.1
gunicorn==19.4.3
psycopg2==2.6.1
six==1.9.0
SQLAlchemy==1.0.8
static3==0.6.1
virtualenv==13.1.2
whitenoise==2.0.6
Whoosh==2.7.0
