{% extends "../../blog/templates/layout_en.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
<br/><br/><br/>
    <table class="bodydiv" align="center">
      <th class="about-post" align="center">
<h3 align="center">We connect ambitious high school students with mentors
 to help them get into their dream universities.</h3><br />
<div class="tabs">


	<tr>

	<th class="th_contact02" align="center">
          <p align="center">Contact us on <a href="mailto:info@educationhaiti.com">info@educationhaiti.com</a></p>
        <p align="center"> Or check us out on our <a href="https://www.facebook.com/educationhaiti/">Facebook page just here</a> today! </p>
</tr>
		</div></table>
<br/><br/><br/>
    </div>
    </div>
	</div>
{% endblock %}
