{% extends "../../blog/templates/layout_en.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
<br/><br/><br/>
    <table class="bodydiv" align="center">
<h3 align="center">We connect ambitious high school students with mentors
 to help them get into their dream universities.</h3><br />
<div class="tabs">


	<tr>

	<th class="th_contact02" align="center">
            <p align="center">Website created by:</p>
	<img width="30%" src="/static/bootstrap/img/sharprise.png"></th>
</tr>
		</div></table>
<br/><br/><br/>
    </div>
    </div>
	</div>
{% endblock %}