{% extends "../../blog/templates/layout_en.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
<br/><br/><br/>
<h3>We connect ambitious high school students with mentors
 to help them get into their dream universities.</h3><br />
<div class="tabs">

<table class="bodydiv" align="center">
	<tr>

	<th class="th_contact02">
            <p>Website created by:</p>
	<img width="30%" src="/static/bootstrap/img/sharprise.png"></th>
</tr>
		</table>
    </div>
    </div>
	</div>
{% endblock %}