{% extends "../../blog/templates/layout_en.html" %}
{% block content %}
    {% load staticfiles %}

<div class="container-fluid">
      <div class="main">

          <div class="row placeholders">
                    {% if request.user.is_authenticated %}
    {% if request.user.mentor.majors == 'Your major(s), please separate each major with a comma' %}
<div class="alert alert-danger" role="alert">You haven't completed your profile yet, please do it right now by
  <a href="{% url 'people:mentor_profile' %}" class="alert-link">clicking here</a>, an incomplete profile isn't a good thing to have..
</div>
        {%  else %}
                  <h1 class="page-header">Welcome {{ request.user.mentor.first_name }}, what's up?</h1>
                  <h6 class="sub-header">@{{ request.user.username }} --- <i>{{ request.user.email }}</i></h6><br />

        {% endif %}

            <div class="col-sm-3 placeholder">
              <img src="{% static 'bootstrap/img/icons/png/mortarboard.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><p><a class="btn btn-lg btn-primary" href="{% url 'people:new_story' %}" role="button">New Success Story</a></p></h4>
            </div>
            <div class="col-sm-3 placeholder">
              <img src="{% static 'bootstrap/img/icons/png/Pensils.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><p><a class="btn btn-lg btn-info" href="#" role="button">New Resources</a></p></h4>
            </div>
              <div class="col-sm-3 placeholder">
                  {%  if request.user.is_authenticated %}
                      {% if request.user.mentor.picture %}
              <img src="{{ request.user.mentor.picture.url }}" width="100" height="100" class="img-circle" alt="Profile Picture">
                  {% else %}
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="No Profile Picture Yet">
                    {% endif %}{% endif %}
              <h4><p><a class="btn btn-lg btn-danger" href="{% url 'people:mentor_profile' %}" role="button">Modify Your Profile</a></p></h4>
            </div>
                        <div class="col-sm-3 placeholder">
              <img src="{% static 'bootstrap/img/login/logoff.png' %}" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><p><a class="btn btn-lg btn-primary" href="{% url 'people:logout' %}" role="button">Log Off</a></p></h4>
            </div>
      </div>
        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">



          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}
