{% extends "../../blog/templates/layout_en.html" %}
{% block content %}

    {% if request.user.is_authenticated %}
 <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Hello {{ request.user.mentor.first_name }} {{ request.user.mentor.last_name }}</h1>
        <p> Update your profile info here. </p>
          <br />
          <form class="form-horizontal" id="form" method="POST" action="{% url 'people:mentor_update' %}"> {% csrf_token %}
            {% csrf_token %}
                {{ form.as_p }}
				{{ form.errors }}
				{% for field in form %}
					{% if field.error %}
						{{ field.error }}
					{% endif %}
				{% endfor %}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
			</form>

        </div>
        </div>

    {% endif %}


{% endblock %}