{% extends "../../blog/templates/layout_en.html" %}
{% load staticfiles %}

{% block title %} Mentor Log in {% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'people/css/login.css' %}"/>
{% endblock %}

{% block content %}
<br />
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
                <section id="loginForm:">
                <h4>Education Haiti - {{ title }}</h4>
			<form class="form-horizontal" id="form" method="POST" action="{% url 'people:mentor_login' %}"> {% csrf_token %}
            {% csrf_token %}
                {{ form.as_p }}
				{{ form.errors }}
				{% for field in form %}
					{% if field.error %}
						{{ field.error }}
					{% endif %}
				{% endfor %}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
			</form>

			<p>
				New here? <a href="{% url 'people:mentor_register' %}">Create an account</a> now!
			</p>
                    </section>
            </div>
		</div>
	</div>
{% endblock %}
