{% extends "../../blog/templates/layout_en.html" %}
{% load staticfiles %}

{% block title %} Register as Mentor {% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'people/css/register.css' %}"/>
{% endblock %}

{% block content %}
<br /><br /><br />
	<div class="cover-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

			<form class="form-signin" id="form" method="POST" action="{% url 'people:mentor_register' %}"> {% csrf_token %}
                <h4 class="form-signin-heading">Education Haiti - {{ title }}</h4>
                {{ form.as_p }}
                {{ form.errors }}
				{% for field in form %}
					{% if field.error %}
						{{ field.error }}
					{% endif %}
				{% endfor %}
				<button class="btn btn-lg btn-primary btn-block" type="submit">register</button>
			</form>

			<p>
				<a href="{% url 'people:mentor_login' %}">login</a>
			</p>
		</div>
	</div>
    </div>
{% endblock %}
